.img-fluid{
    width: 1519px;
    opacity: 100%;
    -webkit-mask-image: linear-gradient(to right, transparent 1%, black 99%);
    mask-image: linear-gradient(to right, transparent 1%, black 99%);
    position:absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    z-index: -1000;
    background-size: cover;
}

.navbar{
    opacity: 100%;
    background-color: rgba(59, 136, 136, 0.555);
}

.nav-link{
    font-weight: 700;
    
}

.logo{
    width: 40px;
}

.texto1{
    color:black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 30px;
    font-size: 35px;
   
}

.pt-5{
    margin-top: 150px;
}
.imagem1{
    width: 450px;
    margin-top: 210px;    
}

.texto2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    line-height: 48px;
    text-align: center;
}

.texto3{
    color:#02b49f;
}

.grid{
    text-align: center;
    color: #25B6A4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

h5{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    background-color: #a5e4dcc2;
}

footer{
    padding: 50px;
    margin-top: 100px;
    height: 260px;
    background-color:#051a17c4;
}

.botao{
    margin-top: 30px;
    background-color: #25B6A4;
    border-color: white;
    color: black;
    font-weight:600;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.botao:hover{
    color:#02b49f;
    background-color: azure;
    border-color: #02b49f;
}

.botao:active,
.botao.active,
.open> .dropdown-toggle.botao{
    color: #02b49f;
    background-color: azure;
    border-color: #02b49f;
}

.texto-footer{
color: #84b6b0;
}